# -----------------------------------------------------------------------------
# Development Tools & IDEs
# -----------------------------------------------------------------------------
# VS Code settings
.vscode/

# IDEs
.idea/
*.swp
*.swo
*~

# -----------------------------------------------------------------------------
# Operating Systems
# -----------------------------------------------------------------------------
# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# -----------------------------------------------------------------------------
# Temporary & Misc Files
# -----------------------------------------------------------------------------
*.tmp
*.temp
